[build-system]
requires = ["flit_core >=3.6,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "yaml2ics"
version = "0.1rc3"
requires-python = ">=3.8"
authors = [{name = "Scientific Python Developers"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: BSD License"]
dynamic = ["description"]

dependencies = [
    "ics == 0.8.0.dev0",
    "python-dateutil >= 2.8",
    "pyyaml >= 6",
]

[project.optional-dependencies]
test = ["pytest >= 7"]
lint = ["pre-commit >= 2.20"]

[project.scripts]
yaml2ics = "yaml2ics:main"

[project.urls]
Home = "https://github.com/scientific-python/yaml2ics"
Source = "https://github.com/scientific-python/yaml2ics"

[tool.flit.sdist]
exclude = ["tests/*"]
